<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hero Homepage</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>

<header>
  <nav>
    <div class="logo">Snapcart</div>
    <ul class="nav-links">
      <li><a href="home.html">Home</a></li>
      <li><a href="about us.html">About</a></li>
     
      <li><a href="#">Contact</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
    
    
  </nav>
</header>



<div class="hero">
  <div id="digital-clock"></div>
  <div class="offer-card">

  </div>
  
  <h1 style="font-family:'Times New Roman', Times, serif;font-size: 50px;">Welcome to Our Website</h1>

<div class="offer-details">
  <h2>Special Offer</h2>
  <p>Get 20% off on all products</p>
  <a href="categories.html" class="btn">Shop Now</a>
</div>
 

   

</div>

<script src="home.js"></script>
</body>
</html>
